.faq{
    padding: 40px 0 64px 0;

    @media (min-width:768px) {
        padding: 80px 0;
    }

    @media (min-width:992px) {
        padding: 96px 0 80px 0;
    }
}

.faq-title{
    font-size: 24px;

    @media (min-width:768px) {
        font-size: 48px;
    }
}


.faq-title::after{
    position: absolute;
    content: '';
    display: block;
    width: 8px;
    height: 100%;
    left: 0;
    top: 0;
    background-color: $primary;
}