<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>眼鏡官網</title>
</head>

<body>
  <%- include('./layout/header'); -%>

    <!-- banner -->
    <div class="banner bg-size-cover bg-repeat-no d-flex justify-content-end align-items-center">
      <div class="container">
        <div class="text-end">
          <h2 class="lh-base mb-0 text-secondary h6 slogan-one">Promise-Desert 2020 早春系列</h2>
          <h2 class="lh-base text-secondary fw-bold mb-md-1 slogan-two">看得清，才能看得遠</h2>
          <a href="#" class="fs-5 banner-btn">立即購買</a>
        </div>
      </div>
    </div>

    <!-- main -->
    <main class="bg-pink">
      <div class="container">
        <div class="intro">
          <h2 class="lh-base text-center text-secondary fw-bold mb-5 mb-md-6 mb-lg-5 intro-slogan">用專業的心，做專業的事</h2>
          <ul class="row row-cols-1 row-cols-md-2 row-cols-lg-4">
            <li class="col">
              <div class="mb-5 mb-lg-0">
                <div class="text-center mb-4">
                  <img src="../assets/images/home-section2-1.png" alt="money" class="card-icon">
                </div>
                <h3 class="title text-center text-secondary">單一價格</h3>
                <p class="mb-0">無論任何度數皆不需追加費用即可擁有適合自己的薄型球面鏡片。</p>
              </div>
            </li>
            <li class="col">
              <div class="mb-5 mb-lg-0">
                <div class="text-center mb-4">
                  <img src="../assets/images/home-section2-2.png" alt="clock" class="card-icon">
                </div>
                <h3 class="title text-center text-secondary">20 分鐘即可取件</h3>
                <p class="mb-0">為了您的寶貴時間著想，以豐富專業知識與技術將結帳到交件的時間縮減至最快 20 分鐘即可完成。</p>
              </div>
            </li>
            <li class="col">
              <div class="mb-5 mb-lg-0">
                <div class="text-center mb-4">
                  <img src="../assets/images/home-section2-3.png" alt="love" class="card-icon">
                </div>
                <h3 class="title text-center text-secondary">安心售後服務</h3>
                <p class="mb-0">我們提供長達 120 天的保固售後服務，不限會員資格皆享有免費深層保養及專業維修服務。</p>
              </div>
            </li>
            <li class="col">
              <div>
                <div class="text-center mb-4">
                  <img src="../assets/images/home-section2-4.png" alt="glasses" class="card-icon">
                </div>
                <h3 class="title text-center text-secondary">關於鏡片</h3>
                <p class="mb-0">使用世界知名頂級品牌，抗UV、防汙鍍膜薄型非球面鏡片。</p>
              </div>
            </li>
          </ul>
        </div>
      </div>
    </main>

    <!-- section 1 -->
    <section class="container">
      <div class="classic-content">
        <h2 class="lh-base text-secondary text-center fw-bold mb-4 mb-md-6 classic-title">經典系列鏡框</h2>
        <ul class="row row-cols-1 row-cols-lg-3 justify-content-center justify-content-lg-between">
          <li class="col">
            <div class="classic-card mb-4 mb-lg-0">
              <img src="../assets/images/home-section3-1.png" alt="經典眼鏡1" class="d-block mx-auto mb-2 img-fluid">
              <h3 class="lh-base text-primary fw-bold fst-italic text-center mb-0">OPTICAL</h3>
            </div>
          </li>
          <li class="col">
            <div class="classic-card mb-4 mb-lg-0">
              <img src="../assets/images/home-section3-2.png" alt="經典眼鏡2" class="d-block mx-auto mb-2 img-fluid">
              <h3 class="lh-base text-primary fw-bold fst-italic text-center mb-0">SUNGLASSES</h3>
            </div>
          </li>
          <li class="col">
            <div class="classic-card">
              <img src="../assets/images/home-section3-3.png" alt="經典眼鏡3" class="d-block mx-auto mb-2 img-fluid">
              <h3 class="lh-base text-primary fw-bold fst-italic text-center mb-0">FUNCTIONAL</h3>
            </div>
          </li>
        </ul>
      </div>
    </section>

    <!-- section 2 -->
    <section class="co-branding bg-size-cover bg-repeat-no bg-p-center">
      <div class="container">
        <div class="branding-content">
          <h2 class="lh-base text-white text-center mb-4 mb-md-6 title-font">聯名設計鏡框</h2>
          <ul class="row row-cols-1 row-cols-xxl-2 justify-content-center g-lg-0">
            <li class="col">
              <div class="branding-card border-0 rounded-0 mb-4 mb-xxl-0 mx-auto">
                <img src="../assets/images/home-section4-1.png" class="img-fluid" alt="聯名眼鏡1">
                <h3
                  class="lh-base text-primary fw-bold fst-italic text-center py-2 mb-0 branding-card-title border-end">
                  DOUBLE A+</h3>
              </div>
            </li>
            <li class="col">
              <div class="branding-card border-0 rounded-0 mx-auto">
                <img src="../assets/images/home-section4-2.png" class="img-fluid" alt="聯名眼鏡2">
                <h3 class="lh-base text-primary fw-bold fst-italic text-center py-2 mb-0 branding-card-title">
                  YOUTH</h3>
              </div>
            </li>
          </ul>
        </div>
      </div>
    </section>

    <!--  section 3 -->
    <section class="container">
      <div class="customer">
        <h2 class="lh-base text-secondary text-center fw-bold  mb-3 mb-md-6 title-font">顧客推薦</h2>
        <ul class="row row-cols-1 row-cols-md-2 row-cols-lg-4">
          <li class="col customer-content">
            <div class="card mb-3 mb-md-4 mb-lg-0">
              <img src="../assets/images/home-section5-1.png" class="card-image img-fluid rounded-bottom-0" alt="女模特與眼鏡">
              <div class="card-body">
                <p class="fw-bold mb-2">Jessy</p>
                <p class="fw-bold card-info">眼鏡品質優良，下次還會想來這邊購買！</p>
                <p class="card-date mb-0">2021/06/20</p>
              </div>
            </div>
          </li>
          <li class="col customer-content">
            <div class="card mb-3 mb-md-4 mb-lg-0">
              <img src="../assets/images/home-section5-2.png" class="card-image img-fluid rounded-bottom-0" alt="女模特與眼鏡">
              <div class="card-body">
                <p class="fw-bold mb-2">凱倫</p>
                <p class="fw-bold card-info">做工細緻、鏡架很輕盈，待久也不會覺得有負擔，推薦給大家！</p>
                <p class="card-date mb-0">2021/04/18</p>
              </div>
            </div>
          </li>
          <li class="col customer-content">
            <div class="card mb-3 mb-md-0">
              <img src="../assets/images/home-section5-3.png" class="card-image img-fluid rounded-bottom-0" alt="女模特與眼鏡">
              <div class="card-body">
                <p class="fw-bold mb-2">悠悠</p>
                <p class="fw-bold card-info">謝謝客服人員的詳細回答，成功買到了喜歡的眼鏡，下次會再回購！</p>
                <p class="card-date mb-0">2020/12/25</p>
              </div>
            </div>
          </li>
          <li class="col customer-content">
            <div class="card">
              <img src="../assets/images/home-section5-4.png" class="card-image img-fluid rounded-bottom-0" alt="女模特與眼鏡">
              <div class="card-body">
                <p class="fw-bold mb-2">Kyuan</p>
                <p class="fw-bold card-info">服務很好，品質沒有任何問題，非常喜歡。</p>
                <p class="card-date mb-0">2020/10/31</p>
              </div>
            </div>
          </li>
        </ul>
      </div>
    </section>

    <!-- section 4 -->
    <section class="bg-pink">
      <div class="container">
        <div class="contact">
          <div class="row justify-content-center">
            <div class="col-md-10 col-lg-6">
              <h2 class="lh-base text-secondary text-center fw-bold mb-4 mb-lg-6 title-font">聯絡我們</h2>
              <p class="mb-4">我們相當重視您的意見，若您有任何疑問，可先參考「常見問題」，若仍有任何問題，請填妥以下資料，我們會在近期與您聯繫。</p>
              <form class="row g-3">
                <div class="col-12">
                  <label for="Name" class="form-label">姓名</label>
                  <input type="text" class="form-control bg-pink" id="Name" placeholder="陳小明">
                </div>
                <div class="col-12">
                  <label for="phoneNum" class="form-label">連絡電話</label>
                  <input type="tel" class="form-control bg-pink" id="phoneNum" placeholder="0912-345-678">
                </div>
                <div class="col-12">
                  <label for="email" class="form-label">電子郵件</label>
                  <input type="email" class="form-control bg-pink" id="email" placeholder="example@email.com">
                </div>
                <div class="col-12">
                  <label for="response" class="form-label">意見反應</label>
                  <textarea class="form-control bg-pink" id="response" rows="5" placeholder="請輸入您的意見"></textarea>
                </div>
                <div class="col-12">
                  <div class="form-check">
                    <input class="form-check-input border-dark" type="checkbox" id="checkBox">
                    <label class="form-check-label" for="checkBox">
                      我同意隱私權政策，並同意依隱私權政策中所述的方式處理自己的資料。
                    </label>
                  </div>
                </div>
                <div class="col-12">
                  <div class="text-center">
                    <button class="btn btn-primary text-white rounded-0 submitBtn">確認送出</button>
                  </div>
                </div>
              </form>
            </div>
          </div>
        </div>
      </div>
    </section>
    <%- include('./layout/footer'); -%>

      <script type="module" src="../main.js"></script>
</body>

</html>