<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>眼鏡官網 | 門市據點</title>
</head>

<body>
    <%- include('./layout/header'); -%>

        <div class="common-spacer">
            <div class="container">
                <h2 class="fw-bold locate-title title-font position-relative ps-3 mb-4 mb-md-5">門市據點</h2>
                <div class="locate-select">
                    <span class="me-2">選擇地區</span>
                    <select class="">
                        <option selected>台北市</option>
                        <option value="台中市">台中市</option>
                        <option value="高雄市">高雄市</option>
                    </select>
                </div>
                <div class="row row-cols-1 row-cols-md-2 row-cols-lg-3 gy-4 gy-lg-0">
                    <div class="col">
                        <div class="card rounded-0 mb-lg-6">
                            <img src="../assets/images/store-1.png" class="card-img img-fluid rounded-0" alt="台北店面">
                            <ul class="list-group list-group-flush">
                                <li class="list-group-item">
                                    <h3 class="fs-4 mb-0">台北中山旗艦店</h3>
                                </li>
                                <li class="list-group-item">
                                    <ul class="p-2">
                                        <li class="mb-2 fs-5"><i class="bi bi-telephone"></i>電話：(02)000-1234</li>
                                        <li class="mb-2 fs-5"><i class="bi bi-clock"></i>營業時間：10:00-21:00</li>
                                        <li class="d-flex fs-5"><i
                                                class="bi bi-geo-alt d-block"></i>地址：台北市中山區南京東路25巷2-1號</li>
                                    </ul>
                                </li>
                                <li class="list-group-item p-0"><a href="#"
                                        class="fs-5 btn btn-dark w-100 rounded-0 py-3 mb-0">詳細資訊</a></li>
                            </ul>
                        </div>
                    </div>
                    <div class="col">
                        <div class="card rounded-0">
                            <img src="../assets/images/store-2.png" class="card-img img-fluid rounded-0" alt="台北店面">
                            <ul class="list-group list-group-flush">
                                <li class="list-group-item">
                                    <h3 class="fs-4 mb-0">台北綠園店</h3>
                                </li>
                                <li class="list-group-item">
                                    <ul class="p-2">
                                        <li class="mb-2 fs-5"><i class="bi bi-telephone"></i>電話：(02)000-2345</li>
                                        <li class="mb-2 fs-5"><i class="bi bi-clock"></i>營業時間：10:00-21:00</li>
                                        <li class="d-flex fs-5"><i class="bi bi-geo-alt d-block"></i>地址：台北市中正區復興南路 132-1
                                            號</li>
                                    </ul>
                                </li>
                                <li class="list-group-item p-0"><a href="#"
                                        class="fs-5 btn btn-dark w-100 rounded-0 py-3 mb-0">詳細資訊</a></li>
                            </ul>
                        </div>
                    </div>
                    <div class="col">
                        <div class="card rounded-0">
                            <img src="../assets/images/store-3.png" class="card-img img-fluid rounded-0" alt="台北店面">
                            <ul class="list-group list-group-flush">
                                <li class="list-group-item">
                                    <h3 class="fs-4 mb-0">台中清水旗艦店</h3>
                                </li>
                                <li class="list-group-item">
                                    <ul class="p-2">
                                        <li class="mb-2 fs-5"><i class="bi bi-telephone"></i>電話：(02)000-1234</li>
                                        <li class="mb-2 fs-5"><i class="bi bi-clock"></i>營業時間：10:00-21:00</li>
                                        <li class="d-flex fs-5"><i class="bi bi-geo-alt d-block"></i>地址：台中市清水區經南一路 23 號
                                            8 樓</li>
                                    </ul>
                                </li>
                                <li class="list-group-item p-0"><a href="#"
                                        class="fs-5 btn btn-dark w-100 rounded-0 py-3 mb-0">詳細資訊</a></li>
                            </ul>
                        </div>
                    </div>
                    <div class="col">
                        <div class="card rounded-0">
                            <img src="../assets/images/store-4.png" class="card-img img-fluid rounded-0" alt="台北店面">
                            <ul class="list-group list-group-flush">
                                <li class="list-group-item">
                                    <h3 class="fs-4 mb-0">高雄中正形象店</h3>
                                </li>
                                <li class="list-group-item">
                                    <ul class="p-2">
                                        <li class="mb-2 fs-5"><i class="bi bi-telephone"></i>電話：(07)000-2345</li>
                                        <li class="mb-2 fs-5"><i class="bi bi-clock"></i>營業時間：10:00-21:00</li>
                                        <li class="d-flex fs-5"><i class="bi bi-geo-alt d-block"></i>地址：高雄市苓雅區中正路 38 號
                                            12 樓</li>
                                    </ul>
                                </li>
                                <li class="list-group-item p-0"><a href="#"
                                        class="fs-5 btn btn-dark w-100 rounded-0 py-3 mb-0">詳細資訊</a></li>
                            </ul>
                        </div>
                    </div>
                    <div class="col">
                        <div class="card rounded-0">
                            <img src="../assets/images/store-5.png" class="card-img img-fluid rounded-0" alt="台北店面">
                            <ul class="list-group list-group-flush">
                                <li class="list-group-item">
                                    <h3 class="fs-4 mb-0">高雄夢時代店</h3>
                                </li>
                                <li class="list-group-item">
                                    <ul class="p-2">
                                        <li class="mb-2 fs-5"><i class="bi bi-telephone"></i>電話：(07)000-1234</li>
                                        <li class="mb-2 fs-5"><i class="bi bi-clock"></i>營業時間：10:00-21:00</li>
                                        <li class="d-flex fs-5"><i class="bi bi-geo-alt d-block"></i>地址：高雄市前鎮區中華一路 63 號
                                            6 樓</li>
                                    </ul>
                                </li>
                                <li class="list-group-item p-0"><a href="#"
                                        class="fs-5 btn btn-dark w-100 rounded-0 py-3 mb-0">詳細資訊</a></li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <%- include('./layout/footer'); -%>

            <script type="module" src="../main.js"></script>
</body>

</html>